.sidebarOptions{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sidebarOptions:hover{
    color: var(--twitter-color);
    background-color: #e8f5fe;
    border-radius: 30px;
    transition: color 100ms ease-out;
    
}

.sidebarOptions > .MuiSvgIcon-root{
    padding: 20px;
}

.sidebarOptions > h2{
    font-size: 20px;
    font-weight: 800;
    margin-right: 20px;
}

.sidebarOptions--active{
  color: var(--twitter-color);
}